<% include ./_common/_header %>
    <header role="banner">
        <h1><%= personal.title %></h1>
    </header>
    <main role="main">
        dummy text.
    </main>
    <footer role="contentinfo">
        <p>
            <small>&copy;&nbsp;isaxxx.com</small>
        </p>
    </footer>
</body>
</html>